@{
    ViewData["Title"] = "Home Page";
}
@section Scripts
    {
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js"></script>
    <script src="@Url.Content("~/js/tunnel.js")"></script>
    <script src="@Url.Content("~/js/gapmind.js")"></script>
}
<div class="row">
    <div class="col-md-6" id="scenecontainer">
        <canvas id="scene"></canvas>
    </div>
    <div class="col-md-6" id="plotcontainer">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <h3>This app was developed in Visual Studio 17 on Windows and deployed to my Linux server</h3>
    </div>
    <div class="col-md-4">
        <h3>The animation is rendered by <a href="https://threejs.org/">three.js</a></h3>
    </div>
    <div class="col-md-4">
        <h3>I am busy, but I'll post more stuff as time allows ... <a href="https://docs.google.com/document/d/1VJ-GJQn6N6GzlqATdMrLk0aJ71ZQ444JtMXfsP09Cqs/edit?usp=sharing">Résumé</a></h3>
    </div>
</div>
